<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDbCmo4Hxi_aQL3Krs7UUOwTY1f6V2ah8</string>
	<key>GCM_SENDER_ID</key>
	<string>122485958227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YuriPetrosyan.CartoonMe</string>
	<key>PROJECT_ID</key>
	<string>cartoonme-d1a8e</string>
	<key>STORAGE_BUCKET</key>
	<string>cartoonme-d1a8e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:122485958227:ios:f3523a7049ece74f7b48a6</string>
	<key>DATABASE_URL</key>
	<string>https://cartoonme-d1a8e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
