<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CartoonMe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CartoonMeWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>920A78EE2DDE4CE500A7BC99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92FB795C2DA7C7200090DB07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92FB796C2DA7C7220090DB07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92FB79762DA7C7220090DB07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
